.head{
 background-color: #FF6700;
}
.bell{
      margin-top: -62px;
    font-size: 32px;
      color: white;
}
	.recharge button
 	{
 		width: 120px;
 		border-radius: 8px;
    font-size: 20px;

 	}
 	
 .sell 
 	{
 		width: 86px;
 		border-radius: 8px;
     font-size: 20px;
}
 	span
 	{
 		color: white;
 		text-align: center;
    font-size: 25px;
 	}
  @media only screen and (max-width:425px) {
  .recharge {
   margin-left: -100px;
   margin-top: 20px;
  }
  .sell{
      margin-top: -90px;
   }
   .sell1{
      margin-top: -90px;
      margin-left: 190px;
   }
}
 @media only screen and (max-width:320px) {
  .recharge {
   margin-left: -100px;
   margin-top: 20px;
  }
  .sell{
      margin-top: -90px;
   }
   .sell1{
      margin-top: -90px;
      margin-left: 150px;
   }
}

 	/* end of header */
 /* start of login.css */
 *
{
padding: 0px;
margin: 0px;
}
.phone
{
  box-shadow: 10px 5px 5px grey;
  height: 52px;
}
.pass
{
  box-shadow: 10px 5px 5px grey;
  height: 52px; 
}
.login
{
color: white;
font-size:  35px;
margin-left: 55px;

}
 
        .img-fluid
        {
            width: 35px;
            
        }
         
         .img-fluid1
        {
              width: 35px;
        
        }
   

.sub
{
  background: #FF6700;
  width: 350px;
  color: white;
    font-size: 27px;
    
}
.two_btn
{
  margin-top: 25px;
  padding-left: 20px;
}
.register
{
  padding: 8px;
  margin-right: 20px;
  border-radius: 6px;
  box-shadow: 4px 5px 5px grey;
}
.forget
{
padding: 8px;
  margin-right: 20px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px grey;
  }
  @media only screen and (max-width: 320px) {
  .sub{
   width: 247px;
  }
}
 /* End of login.css */
/*start of forget.css */
*
{
padding: 0px;
margin: 0px;
}
.phone
{
  box-shadow: 10px 5px 5px grey;
  height: 52px;
}
.pass
{
  box-shadow: 10px 5px 5px grey;
  height: 52px; 
}

.login
{
color: white;
font-size:  25px;
margin-left: 55px;

}
  .phone-user {
            position: relative;
        }
         .phone-user i{
            position: absolute;
            left: 15px;
            top: -4px;
            color: gray;
        }
   .pass-user {
            position: relative;
        }
         .pass-user i{
            position: absolute;
            left: 15px;
            top: 10px;
            color: gray;
        }
.sub
{
  background: #FF6700;
  width: 331px;
  color: white;
}
.two_btn
{
  margin-top: 25px;
  padding-left: 20px;
}
.register
{
  padding: 8px;
  margin-right: 20px;
  border-radius: 6px;
  box-shadow: 4px 5px 5px grey;
}
.forget
{
padding: 8px;
  margin-right: 20px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px grey;
  }
  @media only screen and (max-width: 320px) {
  .sub{
   width: 247px;
  }
}
/* end of forget.css */
 /* start of recharge */
 .rs500 
 {
  width:250px ;
  font-size: 20px;
  color: black;
  border: none;
  margin-top: 20px;
  padding: 10px;
 }
.pay{
margin-top: 40px;
}
.paym
{
 margin-top: 10px; 
}
.paym li
{
  list-style: none;
}
.paym li{
margin-top: 15px;
}
.re
{
 margin-top: 35px; 
width: 70%;
background: #FF6700;
color: white;
font-size: 25px;
border: none;
}
/* end of recharge */
/*start of order */
.order button
{
 border: none;
 width: 120px;
 margin-top: 40px;
 margin-left: 70px;
}
/* -- end of   forget.css --*/
/*--start of referral--*/
.copy_link 
{
    width: 500px;
    background:#FF6700 ;
    border: none;
    font-size: 25px;
    color: white;

}
.tabbutton
{
width:33%;
border: none;
font-size: 25px;
text-align: center;
}
/* banking.ph */
  .copy_link1
  {
   width: 500px;
    background:#FF6700 ;
    border: none;
    font-size: 25px;
    color: white;
  }
 

.navbar-default {
  background-color: #FFF;
  margin-left: 200px;
}
.payment
{
  background:#FF6700 ;
  border: none;
  padding:10px ;

}
/* -- game --*/
.gameheader
{
margin: 10px;  
height: 100px;
background:#FF6700;
}
.gameheader1
{
color: white;
font-weight: bold;
font-size: 20px;
}
.btngame
{
  color: white;
  margin-left: 20px;
  margin-top: -10px;
  font-weight: bold;
  padding: 5px;
  border-radius: 8px;
   background: red;
   border: none;
  box-shadow: 4px 5px 5px grey; 

}
.btngame1
{
  border: none;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: -10px;
  padding: 5px;
  box-shadow: 4px 5px 5px grey;
}
.trophy
{
  font-size: 24px;
}
.trophy1
{
  margin-top: -40px;
}
.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

/*.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}*/

.base-timer__path-remaining {
 /* stroke-width: 7px;*/
 /* stroke-linecap: round;*/
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
/*  stroke: currentColor;*/

}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: black;
}
.join
{
margin-top: 150px;
}
.btn_modal
{
 margin-right: 20px;
}
.btnviolet
{
 border: none;
 width: 40px;
 text-align: center;
 
}
.btnviolet1
{
 border: none;
 width: 70px;
 padding: 2px;
 text-align: center;
 
}
.btnfirst
{
  width: 180px;
  margin-right:30px ;
  padding-left: 40px;
}
.btnfirst1
{
  width: 230px;
   margin-right:40px ;
  padding-right: 40px;
}
.btnfirst2
{
  width: 230px;
   margin-left:60px ;
  padding-left: 40px;
}
.btnfirst3
{
  width: 230px;
   margin-left:110px ;
  padding-left: 40px;
}
.btnfirst4
{
  width: 230px;
   margin-left:180px ;
  padding-left: 40px;
}