*
{
	margin: 0px;
	padding: 0px;
}
.logo {
    margin-right: 33px;
    margin-top: 20px;
    }
.mainhead
{
   
	height: 150px;
      box-shadow: 10px 5px 5px grey;
 /* margin-top: -60px;*/
}
/*.user-admin
{
padding: 20px;
padding-right: 20px;
float: right;
font-size: 20px;	

}*/
.user-admin  i
{
    font-size: 42px;
    color: black;
    margin-right:10px ;
}
.dropbtn {
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



.dropdown {
  float: right;
  display: inline-block;
  z-index: 1;
}

.dropdown-content {

  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
  background:dark;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.admin{
  margin-top: -110px;
 } 
.show {display: block;}
/*--header-->
/*start of body--*/
.font
{
font-size: 30px;
}
/* span
 {
  color: white;
 }*/
 .game
 {
background: blue;
 max-width: 270px !important;
    height: 100px;
    margin: 30px;
    border-radius: 12px;
 }
  .game1
 {
background: red;
    max-width: 270px !important;
    height: 100px;
     margin: 30px;
     border-radius: 12px;
 }
  .game2
 {
background: green;
    max-width: 270px !important;
    height: 100px;
     margin: 30px;
     border-radius: 12px;
 }
  .game3
 {
background: #bf00ff;
   max-width:  270px !important;
    height: 100px;
      margin: 30px;
       border-radius: 12px;
 }
  .game4
 {
background: #FFA500;
    max-width:  270px !important;
    height: 100px;
      margin: 30px;
       border-radius: 12px;
 }
  .game5
 {
background: #3366cc;
    max-width: 280px !important;
    height: 100px;
     margin: 30px;
      border-radius: 12px;
 }
  .game6
 {
background: #339966;
    max-width: 280px !important;
    height: 100px;
      margin: 30px;
       border-radius: 12px;
 }
 .submit
 {
      margin-top: 40px;
      width: 500px;
      background:#FF6700;
      color: whitesmoke;
      font-size: 45px;
      font-weight: bold;
 }
 .header1
 {
  background:#FF6700;
    height: 100px;
 }
 /*--all user --- */
 .allhead
 {
 height: 90px;
      box-shadow: 10px 5px 5px grey;
 }
.all_arrow
{
    font-size: 60px;
    margin-top: -70px;
    margin-left: 30px;
}
.allbutton
{
    border: none;
 width: 70px;
 border-radius: 8px;
background: #FF6700;
box-shadow: 10px 5px 5px grey; 
color: white;  
}
/*--end of all user--*/
/*--add user --*/
.addbutton
{
width: 300px;
background: #FF6700;
    box-shadow: 10px 5px 5px grey;
}

        .img-fluid
        {
            width: 35px;
            
        }
         
         .img-fluid1
        {
              width: 35px;
        
        }

/*--end of Add user--*/
/*-- start of Withdrawal --*/
.withbutton
{
    width: 150px;
    background: #FF6700;
}
/*-- end of Withdrawal --*/
/* -- start of update QR --*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.dropdown-wrapper
{
 color: black !important;
 
}
/* --- end of QR--*/
