*
{
padding: 0px;
margin: 0px;
}
.phone
{
	box-shadow: 10px 5px 5px grey;
	height: 52px;
}
.pass
{
  box-shadow: 10px 5px 5px grey;
  height: 52px;	
}
.login
{
color: white;
font-size:  35px;
margin-left: 55px;

}
        .img-fluid
        {
            width: 35px;
            
        }
         
         .img-fluid1
        {
              width: 35px;
        
        }
.sub
{
	background: #FF6700;
	width: 350px;
	color: white;
  font-size: 27px;
    
}
.two_btn
{
	margin-top: 25px;
	padding-left: 20px;
}
.register
{
	padding: 8px;
	margin-right: 20px;
	border-radius: 6px;
	box-shadow: 4px 5px 5px grey;
}
.forget
{
padding: 8px;
	margin-right: 20px;
	border-radius: 6px;
	box-shadow: 3px 3px 3px grey;
	}
	@media only screen and (max-width: 320px) {
  .sub{
   width: 247px;
  }
}